.about {
    margin-top: 100px;
    position: relative;
    &::before {
        content: url('../img/bush.png');
        position: absolute;
        top: 20px;
        left: -5%;
        z-index: -5;
    }
}
