.landscape {
    padding: 50px 0;
    &-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 25px;
    }
    &-title {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 30px;
    }
}