.modal { 
    &-overlay {
        opacity: 0;
        z-index: -100;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba($modal-bg, 0.5);
    }
    &-project {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 90%;
        height: 80%;
        background: $modal-bg;
    }
    &-content {
        margin: 40px 130px;
        position: relative;
    }
    &-wrapper {
        column-gap: 80px;
        margin-top: 25px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    &-images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-top: 20px;
    }
    &-main-img {
        width: 100%;
        object-fit: cover;
    }
    &-info {
        &-title {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: $main-color;
            text-transform: capitalize;
        }
        &-list {
            padding: 0;
            margin: 40px 0;
            li {
                position: relative;
                font-weight: 300;
                font-size: 14px;
                line-height: 35px;
                color: $main-color;
                &::before {
                    content: '';
                    position: absolute;
                    left: -15px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 4px;
                    height: 4px;
                    border-radius: 50px;
                    background: $btn;
                }
            }
        }
        p {
            font-size: 14px;
            line-height: 16px;
            text-transform: capitalize;
            color: $main-color;
        }
    }
    &-price {
        font-size: 14px;
        line-height: 16px;
        color: $main-color;
        text-transform: none;
    }
}
.open {
    opacity: 1;
    z-index: 500;
}
