.navbar {
    position: relative;
    z-index: 5;
    background: rgba($bg-navbar, 0.31);
    mix-blend-mode: normal;
    backdrop-filter: blur(10px);
    transition: $transition;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.nav {
    &-toggle {
        display: none;
        background: transparent;
        border-color: transparent;
        transition: $transition;
        cursor: pointer;
        i {
            color: $main-color;
            font-size: 20px;
        }
      }
    &-links {
        display: flex;
    }
    &-link {
        margin-right: 80px;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: $white;
        position: relative;
        transition: $transition;
        &:before {
            content: "";
            width: 0;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 0;
            background: $white;
            transition: $transition;
        }
        &:hover {
            &:before {
                width: 100%;
            }
        }
    }
    &-text {
        span {
            font-weight: 300;
            font-size: 14px;
            line-height: 113.19%;
            letter-spacing: 0.03em;
            color: $main-color;
            position: relative;
            &:before {
                content: "";
                width: 0;
                height: 0.1em;
                position: absolute;
                bottom: 0;
                left: 0;
                background: $main-color;
                transition: $transition;
            }
            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }
        i {
            color: $main-color;
        }
    }
}
.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba($bg-navbar, 1.0);
    box-shadow: var(--light-shadow);
}
.top-link {
    margin: 0;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: rgba($bg, .5);
    min-width: 20px;
    min-height: 20px;
    padding: 5px;
    display: grid;
    place-items: center;
    transition: $transition;
    i {
        font-size: 30px;
        color: rgba($main-color, .5);
        transition: $transition;
    }
    opacity: 0;
    z-index: -100;
    &::before {
        display: none;
    }
    &:hover {
        background: rgba($bg, 1);
        i {
            color: rgba($main-color, 1);
        }
    }
}
.show-links {
    height: 200px;
}
.show-link {
    opacity: 1;
    z-index: 100;
}