@media (max-height: 770px) {
  .header {
    min-height: 770px;
  }
}
@media (min-width: 801px) {
  .links-container {
    height: auto !important;
  }
}
@media (max-width: 1200px) {
  .nav-link {
    margin-right: 60px;
  }
  .container {
    padding: 0
      20px;
  }
}
@media (max-width: 1060px) {
  .nav-link {
    margin-right: 30px;
  }
}
@media (max-width: 1024px) {
  .modal {
    &-wrapper {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      justify-content: center;
    }
    &-images {
      grid-template-columns: repeat(
        4,
        1fr
      );
    }
    &-img-wrapper {
      max-width: 450px;
      margin: 0
        auto;
    }
    &-main-img-wrapper {
      height: 200px;
    }
    &-info {
      margin-top: 30px;
      &-title {
        display: none;
      }
      &-list {
        margin: 20px
          0;
        height: 300px;
      }
    }
  }
  .landscape {
    &-wrapper {
      grid-template-columns: repeat(
        2,
        1fr
      );
    }
  }
}
@media (max-width: 800px) {
  .logo {
    padding-top: 100px;
  }
  .header {
    margin-top: 0;
    &::after {
      content: "";
      background: url("../img/footer.png")
        center
        (
          center /
            cover
        )
        no-repeat;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 10%;
    }
    .container {
      height: 100%;
    }
    .logo {
      margin: 0
        auto;
      text-align: center;
    }
    &-wrapper {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
      justify-items: center;
      text-align: center;
      height: 50%;
    }
    .social {
      grid-template-columns: repeat(
        3,
        1fr
      );
      justify-items: center;
      &-icon {
        margin: 0
          10px;
      }
    }
  }
  .popup {
    &-wrapper {
      width: 100%;
      height: 100%;
      grid-template-columns: 1fr;
      justify-content: center;
    }
    &-logo {
      display: none;
    }
    &-title {
      text-transform: uppercase;
      font-size: 20px;
      line-height: 30px;
    }
    &-input {
      font-size: 20px;
      width: 100%;
      // padding: 10px 55px;
    }
    &-item {
      margin-right: 45px;
      padding-bottom: 40px;
    }
    &
      .close-btn {
      right: 10px;
    }
  }
  .checkbox {
    grid-template-areas:
      "third third third"
      "first second second";
    row-gap: 20px;
    &
      .btn-form {
      padding: 15px;
      text-transform: uppercase;
      font-size: 20px;
    }
    &-label {
      line-height: 25px;
    }
  }
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    ul {
      padding: 0;
    }
    .container {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-areas:
        "a b"
        "c c";
    }
    .nav-toggle {
      grid-area: a;
      display: block;
      text-align: left;
    }
    .nav-links {
      flex-direction: column;
      li {
        margin-bottom: 20px;
      }
    }
    .nav-link {
      margin-right: 0;
      font-size: 16px;
      margin-bottom: 10px;
      padding: 15px
        0;
      color: $main-color;
      &::before {
        background: $main-color;
      }
    }
    .links-container {
      grid-area: c;
      height: 0;
    }
    .nav-info {
      grid-area: b;
    }
  }
  .advantages {
    display: none;
  }
  .projects {
    &-wrapper {
      grid-template-areas:
        "first first"
        "second third"
        "second third";
    }
  }
  .modal {
    &-content {
      overflow: inherit;
      margin: 20px
        80px;
    }
    &-images {
      position: relative;
      width: 100%;
      height: 200px;
    }
    &-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: $transition;
      opacity: 0;
      &.active {
        opacity: 1;
        transform: translateX(
          0
        );
        img {
          border: 2px
            solid
            rgba(
              $main-color,
              0.8
            );
          border-radius: 10px;
        }
      }
      &.next {
        transform: translateX(
          100%
        );
      }
      &.last {
        transform: translateX(
          -100%
        );
      }
    }
    &-info {
      &-list {
        height: 200px;
      }
    }
    &-wrapper {
      margin-top: 20px;
      padding: 0;
    }
    &-img-wrapper {
      height: 100%;
      width: 100%;
    }
    &-main-img-wrapper {
      display: none;
    }
    &-images-wrapper {
      width: 100%;
      height: 200px;
    }
  }
  .single-project {
    .line {
      padding-top: 5px;
    }
    .orange {
      margin: 0;
    }
  }
  .garden {
    &-main {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
    }
    &-list,
    &-text {
      padding: 20px
        10px;
      li {
        font-size: 16px;
        margin-bottom: 10px;
        &::before {
          width: 6px;
          height: 6px;
        }
      }
    }
    &-link {
      font-size: 18px;
      padding: 20px
        30px;
    }
  }
  .landscape {
    &-wrapper {
      grid-template-columns: repeat(
        1,
        1fr
      );
    }
    &
      .btn-landscape {
      display: block;
    }
  }
  .section-descr {
    &
      .btn-descr {
      display: block;
    }
  }
  .reviews {
    &::after {
      content: url("../img/bush-2.png");
      position: absolute;
      top: 50%;
      transform: translateY(
        -50%
      );
      right: 0;
      z-index: -5;
    }
    .review {
      background-color: rgba(
        #efefef,
        0.6
      );
      padding: 10px;
      &-text {
        overflow-y: auto;
        height: 150px;
        color: $black;
        line-height: 20px;
      }
      &.next {
        z-index: 2;
        opacity: 0;
        transform: translateX(
            100%
          )
          scale(
            1
          );
      }
      &.last {
        z-index: 2;
        opacity: 0;
        transform: translateX(
            -150%
          )
          scale(
            1
          );
      }
    }
  }
  .next-reviews-btn,
  .prev-reviews-btn {
    height: 100%;
    padding: 20px;
    i {
      color: $btn;
    }
  }
  .next-reviews-btn {
    right: 0;
  }
  .prev-reviews-btn {
    left: 0;
  }
  .next-image-btn,
  .prev-image-btn {
    height: 100%;
  }
  .next-image-btn {
    right: 0;
  }
  .prev-image-btn {
    left: 0;
  }
  .next-project-btn,
  .prev-project-btn {
    height: 20%;
  }
  .footer {
    &-wrapper {
      grid-template-columns: repeat(
        2,
        1fr
      );
      grid-template-rows: repeat(
        2,
        1fr
      );
      grid-template-areas:
        "phone social"
        "map social";
    }
    &-info {
      &.phone {
        grid-area: phone;
      }
      &.map {
        grid-area: map;
      }
      &.social {
        grid-area: social;
      }
      &.title,
      &.mail {
        display: none;
      }
    }
  }
}
@media (max-width: 768px) {
}
@media (max-width: 450px) {
  .btn-popup {
    padding: 15px
      50px;
  }
}
@media (max-width: 425px) {
  .popup {
    &-form {
      padding: 0
        20px;
    }
  }
  .modal {
    &-content {
      margin: 20px
        50px;
    }
  }
  .header {
    &-left {
      h1 {
        font-size: 32px;
      }
    }
  }
  .projects {
    grid-template-columns: repeat(
      1,
      1fr
    );
    grid-template-rows: repeat(
      2,
      1fr
    );
    &-wrapper {
      grid-template-areas:
        "first first"
        "second second"
        "third third";
    }
  }
  .footer {
    &-wrapper {
      grid-template-columns: repeat(
        1,
        1fr
      );
      grid-template-rows: repeat(
        3,
        1fr
      );
      grid-template-areas:
        "phone"
        "map"
        "social";
    }
  }
}
@media (max-width: 375px) {
  .header {
    &-left {
      h1 {
        font-size: 30px;
      }
    }
  }
  .btn-popup {
    padding: 15px
      20px;
  }
  .garden {
    &-link {
      padding: 20px
        10px;
      &.active::before {
        width: 10px;
      }
    }
  }
  .reviews {
    .review {
      &-text {
        padding: 0
          60px;
      }
    }
  }
}
@media (max-width: 320px) {
  .header {
    .logo {
      max-width: 270px;
    }
    &-left {
      h1 {
        font-size: 28px;
      }
    }
  }
}
