$main-color: #FFDF9E;
$bg: #211A15;
$btn: #FF7E35;
$white: #fff;
$black: #000;
$line: #34642C;
$about: #575249;
$project-bg:#FFEFE3;
$project-text : #3D2220;
$modal-bg: #504B47;
$container-width: 1060px;
$transition: all 0.2s ease-in;

@import './base/global';
@import './base/libs';
@import './base/fonts';



@import './block/navbar';
@import './block/header';
@import './block/about';
@import './block/garden';
@import './block/modal';