$main-color: #FFDF9E;
$bg: #211A15;
$bg-popup-logo: #524425;
$bg-navbar: #25491f;
$btn: #FF7E35;
$white: #fff;
$black: #000;
$line: #34642C;
$descr: #575249;
$descr-2: #39362F;
$project-bg:#FFEFE3;
$project-text : #3D2220;
$modal-bg: #504B47;
$footer: #5A554D;
$container-width: 1060px;
$transition: all 0.2s ease-in;

@import './base/global';
@import './base/libs';
@import './base/fonts';



@import './block/navbar';
@import './block/header';
@import './block/about';
@import './block/projects';
@import './block/garden';
@import './block/modal';
@import './block/popup';
@import './block/landscape';
@import './block/reviews';
@import './block/footer';

